// Custom stylesheet
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Open Sans';
    height: 100%;
}

textarea {
    border: none;
}

footer {
    background-color: #efefef;
}

#root {
    background-color: #efefef;
    min-height: 100%;
}

#app, #editor, #preview {
    width: 100%;
}

#editor, #preview {
  padding: 8px;
  background-color: white;
}

#editor {
    height: 400px;
}

#preview {
    max-height: 80vh;
}

h1, h2, h3 {
    font-variant-caps: small-caps;
}

.toolbar {
    height: 35px;
    font-variant-caps: small-caps;
    background-color: dimgrey;
    color: snow;
}

#preview > * {
    margin-bottom: 1em;
}

#preview > pre {
  font: monospace;
}

#preview > table, th, td {
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}

blockquote {
    display: inline-block;
    padding: 4px;
}

th {
    background-color: dimgrey;
    color: snow;
}

img {
    max-width: 500px;
}

a {
    color: plum;
}
